* {
    font-family: 'Ubuntu', sans-serif;
}

.nav-links {
    list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  margin: 0 10%;
  gap: 20px;


}

.nav-links li {
    margin: 0;

}

.nav-links a:hover {
    text-decoration: underline;
    color: aqua;
}

.nav-links li a {
    text-decoration: none;
    justify-content: space-between;
    color: rgb(19, 225, 240)
}

.profile-pic {
    border-radius: 25%;
    object-fit: cover;
    margin-top: .5rem;
}

.center-vertically {
    display: flex;
    align-items: center; /* Vertically center the content */
  }

.center-vertically p {
    margin-bottom: 0;
    margin-left: 1rem;
  }

.profile-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

footer {
    background-color: black;

}

.footer-container {
    width: 100%;
    padding: 70px 30px 20px;


}

.navbar {
    margin: 0;
}

.footerNav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 2% 25%;
    flex-wrap: wrap;
}

.footerNav li a {
    color: white;
    text-decoration: none;
}

.footerNav a:hover {
    text-decoration: underline;
    color: aqua;
}

.social {
    display: flex;
    justify-content: center;

}

.card {
    margin-bottom: 20px;
}

.social i {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 5px 7px;
    border-radius: 30%;
}

.youtube {
    color: red;

}

.github {
    color: rgb(49, 7, 49);
}

.footer-bottom {
    text-align: center;
    color: grey;
    flex-wrap: wrap;
}

.quote {
    text-align: center;
}

.quote p {
    color:darkslategray;
}

.card:hover {
    box-shadow: 0 0 11px rgba(89, 197, 240, 0.856); 
}

.quote2 {
    background-color: white;
    color:grey;
}

/* this style for post template card */
.card-body a {
    float: right;
    color: black;
    background-color: aqua;
    border-color: grey;
}

.image-computer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:30px;
}

.purpose-container {
    display:block;
    background-color: black;
}
.modal {
    display: none;
    /* Hide the modal by default */
    position: fixed;
   
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 4px;
    max-width: 600px;
    /* Adjust the maximum width as needed */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.blog-post-area {
    display: flex;
    flex-wrap:wrap;
   justify-content: space-evenly;
   

   
}


.video-card img {
    padding: 10px;
    width: 250px;
}

.comment {
    padding-left: 5px;
}

.comments img {
display:flex;
margin-right:5px;

}

.modalEdit {
    border: 10px solid aqua;
}

#modalProfilePic {
    margin: auto;
    width: 5em;
    height: 5em;
}

.comment-area p {
    background-color:beige;
}

.comment-area {
display:flex;

}


.video-card h3 {
    color: black;
    font-size: medium;
    padding: 10px;

}

.videos-container h1 {
 text-align: center;
    padding: 10px;
}

.video-card {

    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 15px;
    box-shadow: 0 0 10px rgba(7, 167, 241, 0.5);
}

.fetched-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.TeamMember-shortBio h1{
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px #818181;
    margin-bottom: 3%;
}


.about-developers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    object-fit: cover;
}


.developer-cards img {
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 10em;
    padding: 5px;
    margin: auto;
    border: 3px solid aqua;
    padding: 10px;

}

.developer-cards p {
    color: #5a5656ce;
    width: 400px;
    margin: auto;

}

.developer-position {
    display: flex;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding-bottom: 40px;
}

.about-app p {
    display: block;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;



}



.stanley-quote h3 {
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
    font-size: xx-large;

}

.stanley-quote ul li {
    list-style-type: none;
    text-align: center;
    background-color: rgba(30, 231, 221, 0.521);
}

.bolded {
    font-weight: bold;
}

.stanley-quote p {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;



}

.stanley-quote h1 {
    color: rgba(128, 128, 128, 0.205);
    font-weight: bold;
    padding-top: 20px;
    font-size: xx-large;
    text-decoration: underline;
}

.background {
    background-color: white;

}

.date-created p {
    font-size: 12px;
    color: #888;
    float: right;
    display: block;
}


.card-body {
    display: block;
}

.card-text {
    color: black;
}

.like-comment-section {
    display: flex;
    
}


.like-comment-section p {
    padding-right: 5px;
    margin:0;
    color:grey;
}

.modal-close-button {
    
    width:60px;
    border-radius: 4px;
    background-color: aqua;
    color:black;
    border-color: white;
    
    
}

.modal-comment-button {
    width:130px;
    border-radius: 4px;
    background-color: green;
    color:black;
    border-color: white;
}

.modal-button button {
    padding-top: 2px;
    float:right;
}







/* Nav Bar drop down menu */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  


  
  @media screen and (max-width: 820px) {
    .footerNav ul {
        display: flex;
      flex-direction: column;
      flex-wrap:  nowrap;
      align-items: center;
      margin-top: 20px;
      
      }
      
      .social {
      margin: 0 55%;
      }
  }


  @media screen and (max-width: 600px) {
    .container{
        display: flex;
      flex-direction: row;
      width: 500px;
      }
  }



  @media screen and (max-width: 480px) {
    .container{
        display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;  
      }
    
      .menu {
        margin-top: 20px;
      }
  }
  
  
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }