* {
    font-family: 'Ubuntu', sans-serif;
}

.nav-links {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
    margin-left:50%;
    
    

}

.nav-links li {
    margin: 0;
    
}

.nav-links a:hover {
    text-decoration: underline;
    color: aqua;
}



.nav-links li a {
    text-decoration: none;
    justify-content: space-between;
    color: rgb(19, 225, 240)
}

.profile-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
}

footer {
    background-color: black;
    
}

.footer-container {
    width: 100%;
    padding: 70px 30px 20px;
    
    
}

.footerNav ul {
    list-style-type: none;
    display:flex;
    justify-content: space-evenly; 
    flex-direction: row;
    margin: 2% 25%;
    flex-wrap: wrap;
  }

.footerNav li a {
    color: white;
    text-decoration: none;
}

.footerNav a:hover {
    text-decoration: underline;
    color: aqua;
  }

.social {
    display:flex;
    justify-content: center; 

}
.social i {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 5px;
    border-radius: 30%;
}

.youtube {
    color:red;

}

.github {
    color:rgb(49, 7, 49);
}

.footer-bottom {
    text-align: center;
    color: grey;
    flex-wrap: wrap;
}

.quote {
    text-align: center;
}

.quote2 {
    background-color: white;
}

/* this style for post template card */
.card-body a {
    float: right;
    color:black;
    background-color: aqua;
    border-color: grey;
}

.modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 4px;
    max-width: 600px; /* Adjust the maximum width as needed */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .blog-post-area {
    display: flex;
    justify-content: flex-start;
    gap:2em;
    padding-left: 30px;
  }