* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}


.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    letter-spacing: 3px;
  }
  
  
  .nav-links a:hover {
    text-decoration: underline;
    color: aqua;
  }
  
  
  .nav-links li a {
    text-decoration: none;
    color: rgb(19, 225, 240)
  }

  

.profile-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-pic {
    border-radius: 25%;
    object-fit: cover;
    margin-left: 1rem;
}
.manage-category {
    height: 100%;
    padding-top: 30px;
    
}

.user-header {
    text-align: center;
}

.user-action {
    margin-left: 90px;

}



footer {
    background-color: black;

}

.footer-container {
    width: 100%;
    padding: 70px 30px 20px;


}

.footerNav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 2% 25%;
    flex-wrap: wrap;
}

.footerNav li a {
    color: white;
    text-decoration: none;
}

.footerNav a:hover {
    text-decoration: underline;
    color: aqua;
}

.social {
    display: flex;
    justify-content: center;

}

.social i {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 5px;
    border-radius: 30%;
}

.youtube {
    color: red;

}

.github {
    color: rgb(49, 7, 49);
}

.footer-bottom {
    text-align: center;
    color: grey;
    flex-wrap: wrap;
}

.footer-position {
    display:block;
}





.user-action {
    background-color: blue;
}

.user-action-form {
    width: 80%; 
    margin: 0 auto; 
  }
  
.addPost {
width: 80%;
border-radius:2em;
padding-left:20px;
color:grey;
padding-right: 20px;


}


.post-button {
    width:100px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    border-color: white;
   
}

.submit-post {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}


.edit-post {
    padding-right:15px;
    }






    /* Nav Bar drop down menu */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  


  
  @media screen and (max-width: 820px) {
    .footerNav ul {
        display: flex;
      flex-direction: column;
      flex-wrap:  nowrap;
      align-items: center;
      margin-top: 20px;
      
      }
      
      .social {
      margin: 0 55%;
      }
  }


  @media screen and (max-width: 600px) {
    .container{
        display: flex;
      flex-direction: row;
      width: 500px;
      }

      table{
        transform: translateX(-20px);
        
      }
  }



  @media screen and (max-width: 480px) {
    .container{
        display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;  
      }
    
      .menu {
        margin-top: 20px;
      }


      table{
        transform: translateX(-20px);
        
      }
  }
  
  
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }