*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}   

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: rgb(255, 255, 255);
        background-image: url("../images/loginp.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
  .wrapper{

   width: 100%;
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
}



nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav img{
    width: 175px;
    height: 75px;
    margin-bottom: 20px;
}
.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;

  }  

  .nav-links li {
    margin: 0;
  }
  
  .nav-links li a {
    text-decoration: none;
    justify-content: space-between;
    color:  #3ca1b0;
  }

  .nav-links li a:hover {
    color:  aqua;
  }




.title-section {
    margin-bottom: 30px;
}
.title {
    color: #3ca1b0;
    font-size:  35px;
    font-weight: 200;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.para{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.input-group{
    position: relative;
}
.input-group .label-title{
    color:  #3ca1b0;
    text-transform:capitalize;
    margin-bottom: 11px;
    font-size: 14px;
    display: block;
    font-weight: 500;
}
.input-group input {
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid  #3ca1b0;
    padding: 9px 18px 9px 52px;
    outline: none;
    border-radius: 8px;
    margin-bottom: 20px;
}
.input-group input::placeholder{
    color: rgb(254, 254, 254);
    font-size: 16px;
    font-weight: 400;
}

.input-group .icon{
    position: absolute;
    color: rgba(39, 11, 11, 0.932);
    left: 13px;
    top: calc(50% - 11px);
    text-align: center;
    font-size: 23px;
}
.submit-btn{
    width: 100%;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 13px 24px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}
.submit-btn:hover{
    opacity: 0.95;
}