* {
  font-family: 'Ubuntu', sans-serif;
}

.nav-links {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  margin-left: 50%;

}


.nav-links li {
  margin: 0;

}

.nav-links a:hover {
  text-decoration: underline;
  color: aqua;
}


.nav-links li a {
  text-decoration: none;
  justify-content: space-between;
  color: rgb(19, 225, 240)
}


.profile-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5% 25%;
  flex-wrap: wrap;
  text-align: center;
}

.btn {
  margin-bottom: 1%;
  width: auto;
  display: flex;
  justify-content: center;
  align-self: center;
}


footer {
  background-color: black;

}

.footer-container {
  width: 100%;
  padding: 70px 30px 20px;

}

.footerNav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 2% 25%;
  flex-wrap: wrap;
}

.footerNav li a {
  color: white;
  text-decoration: none;

}

.footerNav a:hover {
  text-decoration: underline;
  color: aqua;
}

.social {
  display: flex;
  justify-content: center;

}


.social i {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 5px;
  border-radius: 30%;
}


.youtube {
  color: red;

}


.github {
  color: rgb(49, 7, 49);
}


.footer-bottom {
  text-align: center;
  color: grey;
  flex-wrap: wrap;
}


/* New resource card */
.displayNew{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}


/* Previously saved resource card */
.resource-item{
   border: 10px solid black;
  padding: 50px;
  margin: 10px 10px;
}


/* Search bar is fixed to top when scrolling */
.searchFixed {
  background-color: black;
  width: 100%;
  height: auto;
  transition: position ease; /* Add a smooth transition for the position property */
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 2;
}


/* Search by #TagName and search box */
.searchInLine{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 5%;
  padding-top: 10px;
  color: aqua;
}

h3{
  letter-spacing: 10px;
  text-decoration: underline;
}

/* #TagButton Container to scroll left and right */
.tagButtonContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 10%;
}

/* #Tag Buttons */
.tag-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

