* {
  font-family: 'Ubuntu', sans-serif;
}





.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  letter-spacing: 3px;
}


.nav-links a:hover {
  text-decoration: underline;
  color: aqua;
}


.nav-links li a {
  text-decoration: none;
  color: rgb(19, 225, 240)
}


.profile-pic {
  border-radius: 25%;
  object-fit: cover;
  margin-top: .5rem;
  margin-left: 1rem;
}

.center-vertically {
  display: flex;
  align-items: center; /* Vertically center the content */
}

.center-vertically p {
  margin-bottom: 0;
  margin-left: 1rem;
}

.profile-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}



form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: 2% 20% 2%;
  padding: 0px 10px;
}

.btn {
  margin-bottom: 1%;
  width: auto;
  display: flex;
  justify-content: center;
  align-self: center;
}


footer {
  background-color: black;

}

footer p{
  letter-spacing: 1px;
  color: whitesmoke;
}

.navbar {
  margin: 0;
}

.footer-container {
  width: 100%;
  padding: 70px 30px 20px;

}

.footerNav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 2% 25%;
  flex-wrap: wrap;
}

.footerNav li a {
  color: white;
  text-decoration: none;

}

.footerNav a:hover {
  text-decoration: underline;
  color: aqua;
}

.social {
  display: flex;
  justify-content: center;

}


.social i {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 5px 7px;
  border-radius: 30%;
}


.youtube {
  color: red;

}


.github {
  color: rgb(49, 7, 49);
}


.footer-bottom {
  text-align: center;
  color: grey;
  flex-wrap: wrap;
}


/* New resource card */
.displayNew {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


/* Previously saved resource card */
.resource-item{
  display: flex; 
  justify-content: center;
  align-items: stretch;
  flex: 1 1 1;
  background-image: url(../images/img.jpg);
  border-radius: 8px;
  border: 5px solid black;
  padding: 10px;
  margin: 15px;
}

.resourceInner{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.6);
  margin: 5px;
  font-weight: 600;
  text-align: center;
  font: bold;
  
}


.resourceInner h2{
  text-decoration: underline;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
}

.resourceInner h3{
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.resourceInner h4{
  letter-spacing: 0px;
  text-transform: uppercase;  
  text-shadow: 0 0 2px rgb(13, 37, 53);
}

.resourceInner p{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  width: 75%;
  letter-spacing: -1px;
}

.resourceInner a{
  display: flex;
  flex-wrap: wrap;
  letter-spacing: -2px;
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 95%;
}


.resourceInner a:hover{
  text-decoration: underline;
  color: rgb(21, 115, 115);
  transform: scale(0.85); 
}


/* Search bar is fixed to top when scrolling */
.searchFixed {
  background-color: black;
  width: 100%;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  z-index: 500;
}



/* Search by #TagName and search box */
.searchInLine {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px 5%;
  padding-top: 5px;
  color: aqua;
}


.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#tagSearchInput {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#tagSearchButton {
  padding: 4px;
  border: none;
  border-radius: 5px;
  margin-left: 3px;
  cursor: pointer;
}

#tagSearchButton:hover {
  background-color: whitesmoke
}

#tagSearchButton:active {
  background-color: aqua;
  box-shadow: 0 5px #666;
  transform: translateX(4px);
}



h1 {
  font-size: 55px;
  letter-spacing: 7px;
  text-align: center;
}

h3 {
  letter-spacing: 10px;
  text-decoration: underline;
}


h5 {
  letter-spacing: 5px;
}


.title {
  width: 75%;
  margin: 7% 12% 3%;

}


.resources-app {
  width: 50%;
  height: auto;
  margin: 0px 25%;

}




/* Fancy RESOURCES title...maybe */
.grid {
  margin-top: 4%;

}

.stroke {
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-color: #111827;
  -moz-text-stroke-color: #111827;
  color: transparent;
}

.shadow {
  text-shadow: 6px 6px aqua;
}

.stroke-shadow {
  color: #fef3c7;
  text-shadow: -2px 0 #111827, 0 -2px #111827, 2px 0 #111827, 0 2px #111827, 2px 2px #111827, -2px -2px #111827, -2px 2px #111827, 2px -2px #111827, 6px 6px aqua;
}

.halftone {
  position: relative;
}

.halftone:after {
  content: "RESOURCES";
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==") repeat;
  font-size: 15vw;
  letter-spacing: 6px;
  left: calc(50% + 6px);
  position: absolute;
  top: calc(50% + 6px);
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-text-stroke-width: 0;
  -moz-text-stroke-width: 0;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.halftone-color:after {
  background-color: aqua;
}





/* fancy underline under "help" and "knowledge" */
.fancy {
  position: relative;
  white-space: nowrap;

  &:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
  }
}



.buttonS {
  display: flex;
  justify-content: space-evenly;

}

/* Big Winner button! */
.Sbtn {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 600;
  border-radius: 5px;

  --b: 3px;   /* border thickness */
  --s: 15px; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;


}


.Sbtn:hover,
.Sbtn:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em; 
  transform: scale(1.8);
  width: 20%;
  background-color: rgba(0, 255, 255, 0.5);
  border: #68a7a7 solid 8px;
  letter-spacing: 10px;
}


.Sbtn:active{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em; 
  transform: scale(1.8);
  width: 30%;
  background-color: rgba(0, 255, 255, 0.444);
}







.center {
  margin: 30px 5%;
}

form .btn {
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-self: center;
}



.spinner {
  margin-top: 12%;
}

main img {
  width: 175px;
  height: 175px;
}


main img:hover {
  transform: scale(1.2);

}



.addLink {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addLink h1 {
  font-size: 100px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -4px;
  transition: 500ms ease;
  font-variation-settings: "wght";
  color: aqua;
  text-align: center;
  text-shadow: 4px 4px #2d4848;
}

.addLink h1:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 2px;
}




.form-group {
  margin-bottom: 15px;

}




/* #TagButton Container */
.tagButtonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0px 15%;
}


/* #Tag Buttons */
.tag-buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  white-space: nowrap;
  overflow-x: auto; 
}

.tag-button {
  height: 60%;
  align-items: center;
  background-color: rgb(203, 255, 255);
  text-align: center;
  opacity: 0.7;
  transition: 0.3s;
}

.tag-button:hover {
  opacity: 1
}









@media screen and (max-width: 1200px) {
  .subtitle h1 {
    font-size: xx-large;
  }

  h2 {
    font-size: x-large;
  }

  h4 {
    font-size: large;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  
  }

  .center {
    margin: 30px 5%;
  }

}



@media screen and (max-width: 950px) {
  .subtitle h1 {
    font-size: x-large;
  }

  .searchFor h3 {
    font-size: 35px;
    letter-spacing: 5px; 
  }



  #tagSearchInput {
    width: 175px;
    height: 45px;
  }

  #tagSearchButton {
    font-size: 15px;
  }

  h2,
  h4 {
    font-size: larger;
  }


  main img {
    width: 150px;
    height: 150px;
  }


  .addLink h1 {
    width: 110%;
    font-size: 80px;
  }


  .Sbtn:hover,
.Sbtn:focus-visible{
  width: 40%;
  letter-spacing: 5px;
}


}


@media screen and (max-width: 820px) {

  .resources-app {
    width: 75%;
    margin: 50px 15%;
  }

  .title h1 {
    margin: 15% 10% 0%;
    font-size: 35px;
  }


  h1 {
    font-size: 35px;
  }

  .subtitle h1 {
    font-size: large;
  }


  .searchFor h3 {
    font-size: x-large;
    letter-spacing: 3px;
  }

  #tagSearchInput {
    width: 150px;
    height: 35px;
  }

  #tagSearchButton {
    font-size: 15px;
  }

  .tagButtonContainer {
    margin: 0px 12%;
  }

  .tag-button {
    font-size: 14px;
  }

  h2,
  h4 {
    font-size: large;
  }


  main img {
    width: 130px;
    height: 130px;
  }

.addLink h1 {
  width: 120%;
  font-size: 70px;
}


.footerNav ul {
  display: flex;
flex-direction: column;
flex-wrap:  nowrap;
align-items: center;
margin-top: 20px;

}

.social {
margin: 0 55%;

}


}






@media screen and (max-width: 600px) {
  .subtitle h1 {
    font-size: medium;
  }

  .searchFor h3 {
    font-size: 23px;
    letter-spacing: 2px;
    margin-right: 5px;
  }

  #tagSearchInput {
    width: 125px;
    height: 35px;
  }

  #tagSearchButton {
    font-size: 15px;
  }

  h2 {
    font-size: small;
  }

  h4 {
    font-size: small;
  }


  main img {
    width: 110px;
    height: 120px;
  }

  .addLink h1 {
    width: 100%;
    font-size: 50px;
  }

  .container{
    display: flex;
  flex-direction: row;
  width: 500px;
  }
}


@media screen and (max-width: 480px) {
  .subtitle h1 {
    font-size: x-small;
  }

  .searchFor h3 {
    font-size: small;
    letter-spacing: 2px;
  }

  #tagSearchInput {
    width: 100px;
    height: 35px;
  }

  #tagSearchButton {
    font-size: 15px;
  }

  main img {
    width: 120px;
    height: 120px;
  }

  .container{
    display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;  
  }

  .menu {
    margin-top: 20px;
  }

 #commentBox.form-control{
    font-size: small;
  }

#urlLink.form-control{
    font-size: small;

}


}



@media screen and (max-width: 400px) {
  .subtitle h1 {
    font-size: x-small;
    flex-wrap: wrap;
  }

  .searchFor h3 {
    font-size: 18px;
    letter-spacing: 1px;
  }

  #tagSearchInput {
    width: 80px;
    height: 25px;
  }

  #tagSearchButton {
    font-size: 12px;
  }

  .tag-button {
    font-size: 10px;
  }

  #commentBox.form-control{
    font-size: x-small;
  }

#urlLink.form-control{
    font-size: x-small;

}
.Sbtn:hover,
.Sbtn:focus-visible{
  width: 50%;
  letter-spacing: 5px;
}

}



@media screen and (max-width: 355px) {


  .searchFor h3 {
    font-size: 16px;
 text-align: center;
   
  }

  #commentBox.form-control{
    font-size: xx-small;
  }

  #urlLink.form-control{
    font-size: xx-small;

}

.Sbtn:hover,
.Sbtn:focus-visible{
  width: 50%;
  letter-spacing: 4px;
}
}





/* Nav Bar drop down menu */

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}





@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}





/*********************************/
/* STANLEY PAGE */

.background{
  background-image: url(../images/stanbackground.jpg);
}

.background h1{
  font-size: 80px;
  color: whitesmoke;
  padding-top: 30px;
  text-shadow: 2px 2px  aqua;
}

.videos{
  margin: 50px 33%;
}

.under {
  font-size: 30px;
  text-align: center;
  margin: 0 5%;
  color: whitesmoke;
}



table, th, td {
  border:1px solid black;
  text-align: center;
  padding: 2% 0;
  
}

th {
  letter-spacing: 5px;
  background-color: rgba(0, 255, 255, 0.2);
}

table {
  width: 75%;
  margin: 0 15%;
}

td a{
  text-decoration: none;
}

td:hover{
  transform: scale(1.2);
  background-color: #688ad53f;
  
}


.accordion-button {
  letter-spacing: 4px;
 
}

@media screen and (max-width: 1100px){
  .under {
    font-size: 28px;
    margin: 0 18%;
  }
}



@media screen and (max-width: 850px){
.videos{
  margin: 50px 25%;
}
.background h1{
  font-size: 70px;
}

.under {
  font-size: 28px;
  margin: 0 18%;
}

}


@media screen and (max-width: 600px){
  .background h1{
    font-size: 55px;
  }
  .videos{
    margin: 50px 20%;
  }

  table {
    transform: translateX(-10px);
  }
}



@media screen and (max-width: 450px){
  table {
    width: 115%;
    margin: 0 auto;
    transform: translateX(-18px);
  }

  .videos{
    margin: 50px 15%;
  }

  .background h1{
    font-size: 40px;
    margin: 0 2%;
    padding-bottom: 10px;
}

.under {
  font-size: 20px;
  margin: 0 10%;
}

}


@media screen and (max-width: 300px){
  table {
    transform: translateX(-23px);
  }
}

